@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500|Roboto&display=swap');
:root{
    --bootstrap:#55229F;
    --bootstrap2:#3A176E;
}
body{
    background: var(--bootstrap);
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: var(--bootstrap2);
    max-width: 400px;
    opacity:0.8;
}
.todos li{
    background: var(--bootstrap2);
}
.delete{
    cursor: pointer;
}